{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
   {jobs, ".*", {git, "git://github.com/uwiger/jobs.git", "master"}}
]}.

{edoc_opts, [{doclet, edown_doclet},
  {top_level_readme,
    {"./README.md",
      "http://github.com/iguberman/jobs-extensions"}}]}.
